<ng-container *ngIf="currentUser$ | async as currentUser">
  <div class="container">
    <div class="row postulant">
      <div class="col s12 postulant-header">
        <div class="row">
          <div class="col s12 m9">
            <h3>Scanner</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-align">
      <zxing-scanner
        (scanSuccess)="processQRCode($event, currentUser)"
      ></zxing-scanner>
    </div>
  </div>
</ng-container>

<div
  #postulantProcessedModal="modalDirective"
  wcModal
  (modalClose)="cleanData()"
  class="modal"
>
  <div class="modal-content">
    <ng-container *ngIf="postulant">
      <div class="center-align">
        <h4>{{ postulant.fullName }}</h4>
        <p class="ticket-{{ postulant.ticket | lowercase }}"
          >Ticket: {{ postulant.ticket }}</p
        >
        <p> Food Restriction: {{ postulant.foodRestriction }} </p>
      </div>

      <div class="container">
        <p>Viernes 18</p>
        <p *ngFor="let field of registrationFields[postulant.ticket].firstDay">
          <ng-container
            [ngTemplateOutlet]="registrationBox"
            [ngTemplateOutletContext]="{ field: field }"
          ></ng-container>
        </p>
        <hr />
        <p>Sábado 19</p>
        <p *ngFor="let field of registrationFields[postulant.ticket].secondDay">
          <ng-container
            [ngTemplateOutlet]="registrationBox"
            [ngTemplateOutletContext]="{ field: field }"
          ></ng-container>
        </p>
        <ng-container
          *ngIf="
            postulant.ticket === Ticket.ROJO ||
            postulant.ticket === Ticket.AMARILLO ||
            postulant.shirtSize
          "
        >
          <hr />
          <p>Souvenirs</p>
          <p
            *ngFor="let field of registrationFields[postulant.ticket].souvenirs"
          >
            <ng-container
              [ngTemplateOutlet]="registrationBox"
              [ngTemplateOutletContext]="{ field: field }"
            ></ng-container>
          </p>
        </ng-container>
        <hr />
        <p>Talleres</p>
        <p *ngFor="let field of workshops">
          <ng-container
            [ngTemplateOutlet]="registrationBox"
            [ngTemplateOutletContext]="{ field: field }"
          ></ng-container>
        </p>
      </div>
    </ng-container>

    <ng-template #registrationBox let-field="field">
      <label *ngIf="field.field !== 'shirt' || postulant.shirtSize">
        <input
          type="checkbox"
          [checked]="postulant[field.field]"
          (change)="
            postulant[field.field] = !postulant[field.field];
            postulantsService.upsertData(postulant)
          "
        />
        <span>
          {{ field.label }}
          {{ field.field === 'shirt' ? '"' + postulant.shirtSize + '"' : '' }}
        </span>
      </label>
    </ng-template>

    <ng-container *ngIf="!postulant">
      <div class="red-text center-align">
        <h4>{{ modalMessage }}</h4>
        <img src="assets/images/error.png" alt="Imagen de error" />
        <p><b>The scanner reads: </b> {{ postulantId }}</p>
      </div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button
      *ngIf="postulant"
      class="modal-close waves-effect waves-light btn ok-btn"
      >Ok</button
    >
    <button
      *ngIf="!postulant"
      class="modal-close waves-effect waves-light btn cancel-btn"
      >Try again</button
    >
  </div>
</div>
