<ng-container *ngIf="currentUser$ | async as currentUser">
  <div class="container">
    <div class="row postulant">
      <div class="col s12 postulant-header">
        <div class="row">
          <div class="col s12 m9">
            <h3>Assistants</h3>
          </div>
          <!-- TODO: Define if this will be used: -->
          <!-- <div class="col s12 m3 right-align">
            <a
              routerLink="/assistants/scores"
              class="postulant-print-btn waves-effect waves-light btn"
              >Scores</a
            >
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m4">
        <input
          type="text"
          name="search"
          class="form-control"
          placeholder="Search assistants"
          [(ngModel)]="searchTerm"
          (ngModelChange)="searchAssistant()"
        />
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assistant of assistants; index as i">
          <ng-container *ngIf="assistant.visibleInSearch">
            <td>{{ i + 1 }}</td>
            <td>
              {{ assistant.fullName }} <br />
              <span class="ticket-{{ assistant.ticket | lowercase }}">
                Ticket: {{ assistant.ticket }}
              </span>
              <br />
              Food Restriction: {{ assistant.foodRestriction }}
            </td>
            <td>
              <p>Viernes 18</p>
              <p
                *ngFor="
                  let field of registrationFields[assistant.ticket].firstDay
                "
              >
                <ng-container
                  [ngTemplateOutlet]="registrationBox"
                  [ngTemplateOutletContext]="{ field: field }"
                ></ng-container>
              </p>
              <hr />
              <p>Sábado 19</p>
              <p
                *ngFor="
                  let field of registrationFields[assistant.ticket].secondDay
                "
              >
                <ng-container
                  [ngTemplateOutlet]="registrationBox"
                  [ngTemplateOutletContext]="{ field: field }"
                ></ng-container>
              </p>
              <ng-container
                *ngIf="
                  assistant.ticket === Ticket.ROJO ||
                  assistant.ticket === Ticket.AMARILLO ||
                  assistant.ticket === Ticket.AZUL ||
                  assistant.shirtSize
                "
              >
                <hr />
                <p>Souvenirs</p>
                <p
                  *ngFor="
                    let field of registrationFields[assistant.ticket].souvenirs
                  "
                >
                  <ng-container
                    [ngTemplateOutlet]="registrationBox"
                    [ngTemplateOutletContext]="{ field: field }"
                  ></ng-container>
                </p>
              </ng-container>
              <hr />
              <p>Talleres</p>
              <p *ngFor="let field of workshops">
                <ng-container
                  [ngTemplateOutlet]="registrationBox"
                  [ngTemplateOutletContext]="{ field: field }"
                ></ng-container>
              </p>

              <ng-template #registrationBox let-field="field">
                <label *ngIf="field.field !== 'shirt' || assistant.shirtSize">
                  <input
                    type="checkbox"
                    [checked]="assistant[field.field]"
                    (change)="
                      assistant[field.field] = !assistant[field.field];
                      postulantsService.upsertData(assistant)
                    "
                  />
                  <span>
                    {{ field.label }}
                    {{
                      field.field === 'shirt'
                        ? '"' + assistant.shirtSize + '"'
                        : ''
                    }}
                  </span>
                </label>
              </ng-template>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
