<ng-container *ngIf="currentUser$ | async as currentUser">
  <div class="container">
    <div class="row postulant">
      <div class="col s12 postulant-header">
        <div class="row">
          <div class="col s12 m9">
            <h3>Assistants ({{ visibleAssistants.length }})</h3>
            <span *ngIf="checkInPostulants$ | async as checkInPostulants">
              CheckIn Count: ({{ checkInPostulants.length }})
            </span>
          </div>
          <!-- TODO: Define if this will be used: -->
          <!-- <div class="col s12 m3 right-align">
            <a
              routerLink="/assistants/scores"
              class="postulant-print-btn waves-effect waves-light btn"
              >Scores</a
            >
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m4">
        <input
          type="text"
          name="search"
          class="form-control"
          placeholder="Search assistants"
          [(ngModel)]="searchTerm"
          (ngModelChange)="searchAssistant()"
        />
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let assistant of assistants; index as i">
          <ng-container *ngIf="assistant.visibleInSearch">
            <td>{{ i + 1 }}</td>
            <td>
              <b>
                {{ assistant.fullName }}
              </b>
              <br />
              <span style="font-size: 12px">
                Email: {{ assistant.email }}
                <br />
                Phone: {{ assistant.phone }}
                <br />
                Food Restriction: {{ assistant.foodRestriction }}
              </span>
            </td>
            <td>
              <label>
                <input
                  type="checkbox"
                  [checked]="assistant.checkIn"
                  (change)="
                    assistant.checkIn = !assistant.checkIn;
                    postulantsService.upsertData(assistant)
                  "
                />
                <span> CheckIn </span>
              </label>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>
