<ng-container *ngIf="currentUser$ | async as currentUser">
  <div class="container">
    <div class="row postulant">
      <div class="col s12 postulant-header">
        <div class="row">
          <div class="col s12 m9">
            <h3>Postulants ({{ visiblePostulants.length }})</h3>
          </div>
          <div class="col s12 m3 right-align">
            <a
              routerLink="/credentials"
              class="postulant-print-btn waves-effect waves-light btn"
              >Bracelets</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m4">
        <input
          type="text"
          name="search"
          class="form-control"
          placeholder="Search postulants"
          [(ngModel)]="searchTerm"
          (ngModelChange)="searchPostulant()"
        />
      </div>
      <div class="input-field col s12 m8">
        <form class="ticket-filter">
          <p (click)="applyTicketFilter(null)">
            <label>
              <input name="ticketFilter" type="radio" checked />
              <span>TODOS</span>
            </label>
          </p>
          <p (click)="applyTicketFilter(Ticket.ROJO)">
            <label>
              <input name="ticketFilter" type="radio" />
              <span>ROJO</span>
            </label>
          </p>
          <p (click)="applyTicketFilter(Ticket.AMARILLO)">
            <label>
              <input name="ticketFilter" type="radio" />
              <span>AMARILLO</span>
            </label>
          </p>
          <p (click)="applyTicketFilter(Ticket.VERDE)">
            <label>
              <input name="ticketFilter" type="radio" />
              <span>VERDE</span>
            </label>
          </p>
          <p (click)="applyTicketFilter(Ticket.AZUL)">
            <label>
              <input name="ticketFilter" type="radio" />
              <span>AZUL</span>
            </label>
          </p>
        </form>
      </div>
    </div>
    <span class="hide-on-med-and-up">
      *Rotate your phone to see all table options
    </span>
    <table class="highlight">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th class="hide-on-small-only">Phone</th>
          <th>Ticket</th>
          <th class="hide-on-small-only">Transfer file</th>
          <th class="hide-on-small-only">Shirt Size</th>
          <th class="center-align hide-on-small-only">Validated</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let postulant of postulants; index as i"
          class="postulant-row"
        >
          <ng-container *ngIf="postulant.visibleInSearch">
            <td>
              <a [routerLink]="['/postulants', postulant.id]">{{ i + 1 }}</a>
            </td>
            <td>
              <a [routerLink]="['/postulants', postulant.id]">{{
                postulant.fullName
              }}</a>
            </td>
            <td class="hide-on-small-only">
              <a [routerLink]="['/postulants', postulant.id]">{{
                postulant.phone
              }}</a>
            </td>
            <td>
              <a [routerLink]="['/postulants', postulant.id]">{{
                postulant.ticket
              }}</a>
            </td>
            <td class="hide-on-small-only">
              <a
                [href]="postulant.transferSupportURL"
                target="_blank"
                rel="noopener noreferrer"
              >
                File
              </a>
            </td>
            <td>
              <a [routerLink]="['/postulants', postulant.id]">{{
                postulant.shirtSize
              }}</a>
            </td>
            <td class="center-align hide-on-small-only">
              <label>
                <input
                  type="checkbox"
                  [checked]="postulant.validated"
                  (change)="
                    postulantsService.acceptPostulant(currentUser, postulant)
                  "
                />
                <span></span>
              </label>
            </td>
            <td>
              <a
                class="modal-trigger red-text"
                href="#delete-postulant"
                (click)="setSelectedPostulant(postulant)"
              >
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<div wcModal id="delete-postulant" class="modal">
  <ng-container *ngIf="selectedPostulant">
    <div class="modal-content">
      <h4>Delete Postulant</h4>
      <div class="center-align">
        <p
          >Are you sure you want to delete this postulant:
          {{ selectedPostulant.fullName }}?</p
        >
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="modal-close waves-effect waves-light btn ok-btn"
        (click)="setSelectedPostulant(null)"
        >Cancel</button
      >
      <button
        class="modal-close waves-effect waves-light btn cancel-btn"
        (click)="postulantsService.deleteData(selectedPostulant)"
        >Delete</button
      >
    </div>
  </ng-container>
</div>
