.ticket-filter {
  display: flex;

  [type='radio']:not(:checked) + span,
  [type='radio']:checked + span {
    padding: 0 20px 0 24px;
  }
}

.postulant-row {
  cursor: pointer;
}

td a {
  display: block;
}
