<div class="container">
  <div class="row postulant">
    <div class="col s12 postulant-header">
      <div class="row">
        <div class="col s12 m9">
          <h3>Bracelets</h3>
        </div>
        <div class="col s12 m3 right-align">
          <a class="postulant-print-btn waves-effect waves-light btn">Print</a>
        </div>
      </div>
    </div>
    <div class="col s12 center-align">
      <wc-postulant-credential
        #credentials
        *ngFor="let assistant of assistants$ | async"
        [postulant]="assistant"
        canvasWidth="75"
        canvasHeight="779"
      >
      </wc-postulant-credential>
    </div>
  </div>
</div>
