@use 'materialize-css/sass/components/color-variables' as colors;

$primary-color: #2563eb;
$primary-color-light: false !default;
$primary-color-dark: false !default;

@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}

$secondary-color: colors.color('blue', 'lighten-2') !default;
$success-color: colors.color('green', 'base') !default;
$error-color: colors.color('red', 'base') !default;
$link-color: colors.color('light-blue', 'darken-1') !default;
